---
import Layout from "@/layouts/Layout.astro";
import { Navbar } from "@/components/Navbar";
import { HeroSection } from "@/components/HeroSection";
import { ProjectsSection } from "@/components/ProjectsSection";
import { Footer } from "@/components/Footer";
---

<Layout>
	<Navbar activePage="work" client:load />
	<main>
		<HeroSection client:load />
		<ProjectsSection client:visible />
	</main>
	<Footer client:visible />
</Layout>
